/* Stil für den Zurück-Button */
.return-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: white;
    color: #0366d6;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.return-button:hover {
    background-color: #f1f1f1;
}

/* Entfernt den GitHub Pages-Footer */
footer, .site-footer, body > div:last-child {
    display: none !important;
    visibility: hidden;
    height: 0;

}
